<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Small site about myself" content="Author: Philip Krook, biking, skiing, development, crafts, life, economics Category: Portfolio">
    @Html.Partial("_partials/_head")
    @RenderSection("head", required: false)
</head>
<body class="bg-gray-50 flex flex-col min-h-screen">
        @Html.Partial("_partials/_header")
    <main  class="flex-grow">
        @RenderBody()
    </main>
        @Html.Partial("_partials/_footer")
</body>
</html>